*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
sup{
    font-weight: 1;
}
hr{
    border: none;
    color: #e2e9f0;
    background-color: #e2e9f0;
    height: .5px;
}
.hr{
    border: none;
    color: #8eb8e2;
    background-color: #8eb8e2;
    height: .5px;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
::placeholder{
     color: #a9a9a9;
     font-size: 13px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}