.header-form-wrap-container{
    padding-top: 110px;
    padding-bottom: 67px;
}
.header-form-wrap-text{
    text-align: center;
}
.header-form-h3{
    font-size: 35px;
    margin: 8px 0;
    font-family: "Lato-Black";
    color: var(--color-white);
}
.header-form-desc{
    margin: 8px 0;
    word-spacing: 2px;
    color: var(--color-white);
    font-family: "Lato-light";
}
.header-form-wrap-form{
    padding-top: 30px;
}
.form-header{
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        margin-right: 10px;
    }
    &__input{
        outline: 0;
        outline-offset: 0;
        border: none;
        width: 284.01px;
        background-color: var(--color-white);
        border-radius: 2px;
        padding: 13.83px 36.999px 13.83px 36.999px;
    }
    &__btn{
        font-size: 14px;
        width: 211px;
        height: 46.03px;
        background: rgba(255, 187, 66, 1);
        margin: 0;
        // padding: 11px 25px 11px 25px;

        border:none;
        border-radius: 2px;
        color: var(--color-white);
        &:hover{
            color: #000;
        }
        &:active{
            color: red;
        }
    }
}
//иконки в input 
.form-header__name-ico,
.form-header__email-ico,
.form-header__call-ico{
    display: inline-block;
    position: relative;
}
.form-header__name-ico::before,
.form-header__email-ico::before,
.form-header__call-ico::before{
    content: '';
    width: 16px;
    height: 13px;
    position: absolute;
    top: 16.5px;
    left: 16.5px;
}
.form-header__name-ico::before{
    background: url(../img/user-solid.svg) no-repeat;
}
.form-header__email-ico::before{
    background: url(../img/email.svg) no-repeat;
}
.form-header__call-ico::before{
    background: url(../img/phone-solid.svg) no-repeat;
}
