.header-panel{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19.82px 0 21.82px 0;
}
.nav-panel{
    &__link--yellow{
        color: var(--color-white);
        background: rgba(255, 187, 66, 1);
    }
}