.header-form-wrap-container{
    padding-top: 110px;
    padding-bottom: 67px;
}
.header-form-wrap-text{
    text-align: center;
}
.header-form-h3{
    font-size: 35px;
    margin: 8px 0;
    font-family: "Lato-Black";
    color: var(--color-white);
}
.header-form-desc{
    margin: 8px 0;
    word-spacing: 2px;
    color: var(--color-white);
    font-family: "Lato-light";
}
.header-form-wrap-form{
    padding-top: 30px;
}