.nav-panel{
  font-family: "Lato-Regular";
  font-size: 14px;
  &__list{
      display: flex;
  }
  &__link{
      display: inline-block;
      padding: 9.5px 20px 9.5px 20px;
      color: #8e8e8e;
      border-radius: 2px;
  }

  &__link, &__item:first-child > a:first-child{
      &:hover{
          color:#000;
      }
      &:active{
          color: red;
      }
  }
}