:root{
    --header-text:#394b50;
    --p-text:#7b7b7b;
}
.section-step-work{
    padding-bottom: 149px;
}
.section-strp-work__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.step-work-card-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 85px;
}
// текст h4 и p

.step-work-desc{
    padding-bottom: 110px;
}

// общие стили блоков
.step-work-card-wrap{
    padding: 0 15px;
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    &__title{
        font-family: "Lato-Black";
        font-size: 20px;
        margin-top: 100px;
        color: var(--header-text);
        margin-bottom: 24px;
    }
    &__desc{
        text-align: center;
        font-size: 14px;
        font-family: "Lato-Regular";
        margin-top: 0;
        color: var(--p-text);
        line-height: 1.5em;
    }
    &__img{
        object-fit: contain;
    }
}
//button 
.section-step-work__btn{
    margin-top: 85px;
    border: .5px solid var(--but-yellow);
    border-radius: 2px;
    outline: 0;
    font-family: "Lato-Regular";
    font-size: 14px;
    padding: 16px 27px;
    background: var(--but-yellow);
    color: var(--color-white);
    &:hover{
        color: red;
    }
    &:active{
        color: green;
        border-color: green;
    }
}
//стрелки
.step-1{
    position: absolute;
    right: -110px;
    top: -30px;
}
.step-2{
    position: absolute;
    right: -110px;
    top: 62px;
}